@{
    ViewData["Title"] = "About";
}
<h1 class="w3-center">About Us</h1>
<div class="blog row w3-margin w3-padding">
    <div class="w3-col m4 l3 w3-center w3-margin">
        <img src="~/images/fampic.JPG" class="w3-image" width="300" height="200" />
    </div>
    <div class="w3-col m8 w3-margin w3-padding">
        Alexis wanted to travel. Jordan wasn’t comfortable leaving home. So we compromised and are leaving
        home… But in all seriousness, we couldn’t be more excited to be stepping out of our comfort zone and
        pursuing something we have always dreamed of doing; exploring. We have gone on quite a few trips
        together, both in the US and abroad, and find that we are at our happiest when we are experiencing
        new things together. Whether that be the local food and drink, meeting friendly new people, or just
        being out in nature, we’ve grown fond of the idea that there is just too much to experience to stay in
        one place.
        <br />
        <br />Though with that being said, while we aren’t quite ready to pickup and move across the
        country, away from friends and family, we fell in love with the idea that living in an RV and having the
        freedom to move and experience whenever and wherever we want would be the perfect answer. We
        have a vague idea of where we want to go and how long we’d like to be gone, but once we’re out on the
        road we plan to just go with what feels right. Fingers crossed there aren’t too many bumps in the road…
        Be sure to checkout some of our blog posts and pictures to see what we’re up to, and feel free to reach
        out if have any questions or just want to say hi!
   </div>
</div>
