@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <abbr title="Phone">P:</abbr>
</address>

<address>
    <strong>Jordan &amp; Alexis:</strong> <a>alexisjordanthomas@gmail.com</a><br />
</address>
