
@{
    ViewData["Title"] = "Photos";
}
<div class="w3-center">
    <h1>The Life of Aug Dog</h1>
</div>
<div class="w3-center">
    <img src="~/images/Snapchat-1178030817.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-1282021518.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-1309185641.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-1403594960.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-1677711085.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-1724519225.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-1779779325.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-1976936911.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-2014319295.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-2094664710.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-243122250.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-283895293.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-414239672.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-447968542.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-458929610.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-483027424.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-488443907.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-499768858.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-612248246.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-839129410.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-842238369.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-861816538.jpg" width="169" height="300" style="padding: 5px;">
    <img src="~/images/Snapchat-960300893.jpg" width="169" height="300" style="padding: 5px;">
</div>